.load-container{
    background-color: rgb(45, 123, 189);;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top:0; left:0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    white-space: nowrap;
}

.load-container span{
    animation-name: loading-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 1.3rem;
    
}

@keyframes loading-move{
    0%{ transform: translateX(0);}
    30%{
        transform: translateX(0);
        letter-spacing: normal;
        opacity: 1;
    }
    70%{
        transform: translateX(80rem);
        opacity: 0;
        letter-spacing: 6rem;
    }   
    71%{
        transform: translateX(0);
        letter-spacing: normal;
    }
    100%{   
        opacity: 1; 
    }

}