*{
    margin: 0;
    padding: 0;
}

.project-demo{
    transition: all .2s;
}

.project-demo a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    line-height: normal;

    --image-size: min(80vw, 350px);
}

.project-demo:hover{
    position: relative;
    transform: scale(1.1);
    z-index: 1;
}


.project-demo a{
    text-decoration: none;
}

.project-title{
    font-size: 1.8rem;
    margin: 1rem 0;
    text-transform: none;
}

.project-description{
    font-size: 1.25rem;
    margin-bottom: 1rem;
    display: inline-block;
}

.img-container{
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: var(--image-size);
    height: var(--image-size);
}

.img-container::after{
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: var(--image-size);
    height: var(--image-size);
    background-color: rgba(0, 0, 0, 0.349);
}

.project-demo:hover .img-container::after{
    background-color: transparent;
}

.project-demo-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    object-position: center;
}